:root {
  --primary-100: #e6ddf0;
  --primary-200: #dbcee9;
  --primary-300: #cfbde2;
  --primary-400: #c1aad9;
  --primary-500: #b194cf;
  --primary-700: #5e239d;
  --primary-900: #141b41;

  --secondary-500: #99b6d2;
  --secondary-600: #5f8db8;
  --secondary-700: #174168;

  --success-700: #1d7d1c;
  --success-500: #279e25;
  --success-300: #7bc47a;

  --danger-200: #db5461;
  --danger-300: #fb3640;
  --danger-500: #f71735;
  --danger-900: #a8201a;

  --warning-500: #fabc2a;
  --warning-700: #ec9a29;

  --gray-900: #12130f;
  --gray-700: #443c4d;
  --gray-600: #73687d;
  --gray-500: #8e8697;
  --gray-400: #a49dab;
  --gray-300: #c6c2cb;
  --gray-200: #e2e0e4;
  --gray-100: #faf9fa;

  --white: #ffffff;

  --font-xs: 12;
  --font-sm: 14;
  --font-md: 16;
  --font-lg: 20;

  --heading: Inter_700Bold;
  --body: "Nunito-sans", sans-serif;
}
